footer {
    font-family: Arial, sans-serif;
  }
  
  footer img {
    transition: transform 0.3s;
  }
  
  footer img:hover {
    transform: scale(1.1);
  }
  
  footer ul li a {
    color: white;
  }
  
  footer ul li a:hover {
    color: #d1fae5; /* Color más claro al pasar el mouse */
  }
  